
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>登入失敗畫面</title>

    <!-- Google font -->
    <link href="~/Views/LoginTimeOut/css/googleapis-family.css" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/ErrorCss/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>





<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404"></div>
            <h1>登入失敗。</h1>
            <h2 style="font-family:serif;">&nbsp;登入時發生錯誤。</h2>
            <p style="font-family:serif;">&nbsp;抱歉，系統無法驗證您的帳號及密碼，請確認用戶的帳 &nbsp;號及密碼是否正確。</p>
            <a href="@Request.Url.Scheme://@Request.Url.Authority/Login">回到登入頁面</a>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
