
<div class="row" style="margin:20px;">
    <table class="table table-striped table-bordered">
        <thead>
            <tr  style="font-size:18px;">
                <th class="col-md-2">名稱</th>
                <th class="col-md-4">內容</th>
                <th class="col-md-3">下載</th>
                <th class="col-md-3">QR Code</th>
            </tr>
        </thead>
        <tbody  style="font-size:16px;">
            <tr>
                <td><h3>WMS</h3></td>
                <td>
                    <p style="line-height:1.5;"> 
                    倉庫管理系統(WMS) 是一個用於管理倉庫或者物流配送中心的電腦軟體系統，
                    它對倉庫內的各類資源進行計劃、組織、引導和控制，對貨物的存儲與移動（入庫、出庫、庫內移動）
                    進行管理，並實現了作業人員的績效管理。
                    </p>
                </td>
                <td>
                    <a class="download-item"  text-decoration:none;" href="~/Download/test.apk">
                        <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z" />
                            <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
                            <path fill-rule="evenodd" d="M5.646 9.146a.5.5 0 0 1 .708 0L8 10.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4A.5.5 0 0 1 8 6z" />
                        </svg>
                        點擊下載
                    </a>
                </td>
                <td><img src="~/images/WMS.png"></td>
            </tr>
            <tr>
                <td><h3>EPB</h3></td>
                <td><p style="line-height:1.5;">無</p></td>
                <td>
                    <a class="download-item" text-decoration:none;" href="~/Download/EPBLOGIN.apk">
                        <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z" />
                            <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
                            <path fill-rule="evenodd" d="M5.646 9.146a.5.5 0 0 1 .708 0L8 10.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4A.5.5 0 0 1 8 6z" />
                        </svg>
                        點擊下載
                    </a>
                </td>
                <td><img src="~/images/EPB.png"></td>
            </tr>
            <tr>
                <td><h3>PRT DTS</h3></td>
                <td>
                    <p style="line-height:1.5;">
                        PRT-DTS 是標籤常駐程式，
                        使用MES 的 WMS倉庫管理系統時，
                        需要配合 標籤管理內部作使用，
                        使用前需要配對碼一致才能進行列印。
                    </p>
                </td>
                <td>
                    <a class="download-item"  href="~/Download/PRT_DTS_Clinet.rar" style="display:block;margin-top:20px">
                        <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z" />
                            <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
                            <path fill-rule="evenodd" d="M5.646 9.146a.5.5 0 0 1 .708 0L8 10.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4A.5.5 0 0 1 8 6z" />
                        </svg>
                        客戶版 - 點擊下載
                    </a>
                    <a class="download-item" href="~/Download/PRT_DTS_Lan.rar" style="display:block; margin-top:20px">
                        <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z" />
                            <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
                            <path fill-rule="evenodd" d="M5.646 9.146a.5.5 0 0 1 .708 0L8 10.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4A.5.5 0 0 1 8 6z" />
                        </svg>
                        內部人員版 - 點擊下載
                    </a>
                </td>
                <td><img src="~/images/DTS.png" alt="" style="width:110px;height:110px"></td>
            </tr>
            <tr>
                <td><h3>WMS Print</h3></td>
                <td>
                    <p style="line-height:1.5;">
                        WMS-Print 是具有入庫、儲備、容器等功能的列印應用程式。
                    </p>
                </td>
                <td>
                <a class="download-item" href="~/Download/WMS_Print.rar">
                    <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z" />
                        <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
                        <path fill-rule="evenodd" d="M5.646 9.146a.5.5 0 0 1 .708 0L8 10.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z" />
                        <path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4A.5.5 0 0 1 8 6z" />
                    </svg>
                    點擊下載
                </a>
                </td>
                <td><img src="~/images/WMS_Print.png" alt="" style="width:110px;height:110px"></td>
            </tr>
        </tbody>
    </table>
</div>

