<div class="mac-item" data-mac_code="">
    <div class="mac-item-head">
        <span class="mac_name"></span>
        <br />
        <span class="mac_code"></span>
    </div>
    <div class="status-div">
        <span data-status_code="" class="status status-color-default">關機</span>
    </div>
    <div class="oee-container" >
        <div class="oee-item MACHINE_CODE-div" >
            <span class="MACHINE_CODE-label">良品數</span>
            <span class="MACHINE_CODE-value"></span>
        </div>
        <div class="oee-item utilization-div" >
            <span class="utilization-label">不良品數</span>
            <span class="utilization-value"></span>
        </div>
        <div class="oee-item stopTime-div" >
            <span class="stop_time-label">停機時間</span>
            <span class="stop_time-value"></span>
        </div>
        <div class="oee-item workTime-div" >
            <span class="work_time-label hidden">工時</span>
            <span class="work_time-value hidden"></span>
        </div>
    </div>
</div>

