@using MES_WATER.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Comm comm = new Comm();
    
    //var table07 = comm.Get_tableInfo("BDP07_0000");
}

<h2>歡迎使用</h2>

